{% extends 'base.html' %} {% load humanize %} {% block title %}
Categorias{%endblock%} {% block content %}
<div class="card-columns mt-4">
  {% for post in posts%}
  <!-- FOR LOOP -->
  <div class="card">
    {% if post.image_title %}
    <a href="{% url 'post_detail' post.id%}">
      <img
        class="card-img-top"
        src="{{ post.image_title.url}}"
        alt="{{ post.title }}"
      />
    </a>
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'post_detail' post.id%}"> {{ post.title }} </a>
      </h5>
      <p class="card-text">{{ post.excerpt }}</p>
      <p class="card-text">
        <small class="text-muted"
          >{{ post.date|naturalday|title}} | {{ post.comment_number}}
          comentário(s) | {{post.category}}</small
        >
      </p>

      <div class="text-right">
        <a
          href="{% url 'post_detail' post.id%}"
          class="btn btn-outline-secondary"
          >Ler mais...</a
        >
      </div>
    </div>
  </div>
  <!--/FOR LOOP-->
  {%endfor%}
</div>
{% endblock %}
